* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  padding: 5em;
  font-family: Helvetica;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.upperDiv {
  width: 25em;
  margin: auto;
  background-color: #fff;
  border-radius: 1em;
  padding: 1em;
}

.upperDiv ul {
  list-style-type: none;
}

.upperDiv ul li {
  border: 1px solid #777;
  margin-bottom: .5em;
}

form {
  display: flex;
  flex-direction: column;
}

form h4, form input, form button {
  margin-bottom: .5em;
}

button {
  width: 20%;
  border: .1em solid black;
  background-color: purple;
  color: #fff;
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 10;
  overflow: hidden;
}

.modal header {
  background: #4f005f;
}

.modal header h2 {
  margin: 0;
  color: white;
}

.modal button {
  background:  #4f005f;
  float: right;
}
